@if (TempData["ErrorMessages"] != null)
{
    <div class=" alert alert-danger" role="alert">
        @TempData["ErrorMessages"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class=" alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}